/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* 
h2#appheader{
  color: blue 
}  */



body, html {
  /* background-color: powderblue!important ; */
  /* background-image: url( "https://images.hdqwalls.com/download/blur-blue-gradient-cool-background-sp-1920x1080.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important; */
  height: 100%;
}

.bg {
  background-image: url( "https://images.hdqwalls.com/download/blur-blue-gradient-cool-background-sp-1920x1080.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
min-height: 1024px;
min-width: 1024px;
}

/* div#home {
  background-image: url( "https://images.hdqwalls.com/download/blur-blue-gradient-cool-background-sp-1920x1080.jpg")
} */


form.home {
  color: white; 
}
div#newGoalForm{
  
  margin: auto;
  border-radius: 10px;
  background-color: #0a0d0f67;
  width: 500px;
  text-align: left;
  padding: 20px;

}

div.newExpenseForm{
  margin:auto; 
  border-radius: 10px;
  background-color: #0a0d0f67;
  width: 500px;
  text-align: left;
  padding: 20px;
  
}

 input[type=text], select {
  background-color: dodgerblue;
  color:white; 
  box-sizing: border-box;
  padding: 3px 3px;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid;
  width: 170px;
}
input[type=number].show {
  background-color: dodgerblue;
  color:white; 
  box-sizing: border-box;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid;
  width: 170px
}

input[type=text] {
  background-color: dodgerblue;
  color:white; 
  box-sizing: border-box;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid;
  width: 450px;
}

div#readme{
  width: 250px;
  margin: auto;
  padding: 20px;
}

p#instructions {
  font-size: 18px;
  color:lavenderblush;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: bold;
  width: 75%;
  text-align: center;
  margin: auto;
  letter-spacing: 2px !important;
  line-height: 1.5 !important;

}

img.ui.medium.bordered.circular.left.floated.image {
  width: 260px;
  height: 230px;
  border-radius: 50%;
}

button {
  background-color: dodgerblue; /* Green */
  border: 2px outset white;
  
  border-radius: 10px;
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 6px 6px 6px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover{
  background-color:#21BA45;
  border: 2px solid black; 
  transform: scale(1.2);
  box-shadow:  4px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
  
}

h2#appheader {
  border-bottom: 6px ridge lavender;
  font-family: 'Dancing Script', cursive !important;
  font-size: 36px !important;
  color: lavenderblush !important
  
}

div.ui.card.breakdown {
  width: 45%;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
/* } */

header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color:lavenderblush;
	text-shadow: 1px 1px 1px #333;
  background-image: url ("https://images.hdqwalls.com/download/blur-blue-gradient-cool-background-sp-1920x1080.jpg")
	
}

h1 {
	font-family: 'Dancing Script', cursive !important;
	font-size: 80px !important; 
	margin-bottom: 30px !important; 
  text-align: center !important
}